:root{
    --background:hsl(217, 54%, 11%);
    --nft-card:hsl(216, 50%, 16%);
    --line:hsl(215, 32%, 27%);
    --texts:hsl(215, 51%, 70%);
    --white:hsl(0, 0%, 100%);
    --etherium-text:hsl(178, 100%, 50%);

}